{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}
{% block nav %}{% endblock %}
{% block body %}
<div class="container col-md-3">
    <h1>Register</h1>

    {{ form_start(registrationForm) }}
        <div class="form-control">
            <label for="">Username</label>
            {{ form_widget(registrationForm.username) }}
        </div>
        <div class="form-control">
            <label for="">Password</label>
            {{ form_widget(registrationForm.plainPassword) }}
        </div>
        <div class="text-center">
            <label for="">Agree terms</label>
            {{ form_widget(registrationForm.agreeTerms) }}
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary">Register</button>
        </div>
    {{ form_end(registrationForm) }}
</div>    
{% endblock %}
