{% extends 'base.html.twig' %}

{% block title %}
	Teacher Detail!
{% endblock %}

{% block body %}
	<center>
		<div class="container col-10 md-8">
			<a class="btn btn-primary" href="{{path("teacher_add")}} "><img src="{{asset('images/add.png')}}" alt="Add pic" width="50px" height="50px"></a>
			<hr>
			<div class="container col-5 form-group">
				<form action="{{path('teacher_name_search')}} " method="post">
					<input class="form-control" type="search" name="name" placeholder="Search by Name of Teacher" required>
				</form>
			</div>
			<br>
			<div>
				<table class="table table-striped text-center">
					<thead class="thead-dark">
						<tr class="table-info">
							<th>Name</th>
							<th>Avatar</th>
							<th>Gender</th>
							<th>Birthday</th>
							<th>Phone</th>
							<th>Email</th>
							<th>Class(es)</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>{{teacher.name}}</td>
							<td><img src="{{asset('avatars/'~teacher.image)}} " alt="Avatar" width="120" height="120"></td>
							<td>{{ teacher.gender }}</td>
							<td>{{ teacher.birthday | date('d/m/Y')}}</td>
							<td>{{ teacher.phone }}</td>
							<td>{{ teacher.email }}</td>
							<td>
								{% for cls in teacher.classrooms %}
									<a class="text-decoraiton-none btn btn-secondary" href="{{path('classroom_detail',{'id':cls.id})}} ">{{cls.name}}
									</a>
								{% endfor %}
							</td>
							<td>
								<a class="btn btn-primary" href="{{path("teacher_edit",{'id': teacher.id})}}">Edit</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</center>
{% endblock %}
