{% extends 'base.html.twig' %}

{% block title %}Hello SubjectController!{% endblock %}

{% block body %}
<div class="container-md col-md-6 text-center">
{% if is_granted('ROLE_ADMIN') %}
    <a href="{{path ('subject_add')}}" class="btn btn-primary">Add new subject</a>
{% endif %}    
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Subject Name</th>
            <th>
            {% if is_granted('ROLE_ADMIN') %}
                Controller
            {% else %}
                Subject Code
            {% endif %}
            </th>
        </tr>
    </thead>
    <tbody>
    {% for subject in subjects %}
        <tr>
            <th>{{subject.id}}</th>
            <th>
            <a href="{{path ('subject_detail', {'id': subject.id})}}">
                {{subject.name}}
            </a>
            </th>
            <th>
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{path ('subject_edit', {'id':subject.id})}}">Edit</a>
                <a href="{{path ('subject_delete', {'id': subject.id})}}">Delete</a>
            {% else %}
                {{subject.code}}
            {% endif %}
            </th>
        </tr>
    {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}
