{% extends 'base.html.twig' %}

{% block title %}Hello SubjectCategoryController!{% endblock %}

{% block body %}
<div class="container-md col-md-6 text-center">
<a href="{{path ('category_add')}}" class="btn btn-primary">Add new major</a>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Major</th>
            <th>Description</th>
            <th>Controller</th>
        </tr>
    </thead>
    <tbody>
    {% for category in categories %}
        <tr>
            <th>{{category.id}}</th>
            <th>
            <a href="{{path ('category_detail', {'id':category.id})}}">
                {{category.name}}
            </a>
            </th>
            <th>{{category.description}}</th>
            <th>
            <a href="{{path ('category_edit', {'id': category.id})}}">Edit</a>
            <a href="{{path ('category_delete', {'id': category.id})}}">Delete</a>
            </th>
        </tr>
    {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}
